<div id="header">
</div>

<div id="on-plate">
    <h2>On Your Plate:</h2>

    <ul>
    {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
    {{/each}}
    </ul>
</div>

<div id="devoured">

    <h2>Devoured:</h2>

    <ul>
    {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}
    </ul>
</div>

<br>

<div id="add">

    <h2>Add a Burger:</h2>
    <form class="create-form">

    <div class="form-group">
        <input type="text" id="new-burger" name="name">
    </div>

    <button id="add-button" type="submit">Add</button>
    </form>
</div>