body{
    background-color: #fee699;
}
#on-plate{
    float: left;
    margin-left: 300px;
}

#devoured{
    float: right;
    margin-right: 300px;
}

#add{
    margin-top: 50px;
    margin-left: 43%;
    margin-right: 43%;
}

#header{
    margin-left: 33%;
    margin-right: 33%;
    height: 250px;
    width: 400px;
    background-image: url("../img/burger.png");
    background-position: center;
    background-repeat: no-repeat;
}