body{
    background-color: #fee699;
    position: absolute;
}
#on-plate{
    position: relative;
    float: left;
    left: 100%
}

#devoured{
    position: relative;
    float: right;
    left: 150%
}

#add{
    margin-top: 50px;
    position: relative;
    left: 150%;
}

#header{
    position: relative;
    left: 120%;
    height: 250px;
    width: 400px;
    background-image: url("../img/burger.png");
    background-position: center;
    background-repeat: no-repeat;
}

#err{
    color: red;
}